<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Awareness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Edit Awareness</h2>
        <form id="editAwarForm" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="<%=awar.title%>" required>
            </div>
            <div class="form-group">
                <label for="content">Body:</label>
                <textarea class="form-control" id="content" name="content"  cols="100" rows="100" ><%=awar.content%></textarea>
            </div>
            <div class="form-group">
                <label for="image">image:</label>
                <input type="file" class="form-control" id="image" name="image" value="<%=awar.image%>" >
            </div>
            <button type="submit" class="btn btn-primary">Edit Awareness</button>
        </form>
    </div>
    <script>
        const editAwarForm = document.getElementById('editAwarForm');
        editAwarForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const title = document.getElementById('title').value;
            const content = document.getElementById('content').value;
            const image = document.getElementById('image').value;

            const response = await fetch('/api/awar/<%=awar._id%>', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ title, content,image })
            });
            if (response.ok) {
                alert('Awareness updated successfully');
                window.location.href = '/home';
            } else {
                alert('Failed to update Awareness');
            }
        });
    </script>
</body>
</html>
