<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Welcome</h2>
        <button class="btn btn-warning" onclick="window.location.href='/add-admin'">Add Admin</button>
        <!-- Logout btn -->
        <button class="btn btn-danger" onclick="window.location.href='/logout'">Logout</button>
        <button class="btn btn-warning" onclick="window.location.href='/news'">News</button>
        <button class="btn btn-warning" onclick="window.location.href='/prayers'">Prayers</button>
    </div>
</body>
</html>
