<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Notification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            direction: rtl;
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Add Notification</h2>
        <form id="sendNotificationForm" method="post">
            <div class="form-group">
                <label for="title">العنوان</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="content">المحتوى</label>
                <input type="text" class="form-control" id="content" name="content" required>
            </div>
            <div class="form-group">
                <label for="externalLink">رابط خارجي</label>
                <input type="text" class="form-control" id="externalLink" name="externalLink">
            </div>
            
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    <script src="/script.js"></script>
</body>
</html>
